.carousel, .carousel__viewport, .carousel__track {
    height: 100%;
}
.carousel__prev {
    left: 50px;
}
.carousel__next {
    right: 50px;
}
.carousel__prev, .carousel__next {
    box-sizing: content-box;
    background: var(--vc-nav-background);
    border-radius: var(--vc-nav-border-radius);
    width: var(--vc-nav-width);
    height: var(--vc-nav-height);
    text-align: center;
    font-size: var(--vc-nav-height);
    padding: 0;
    color: var(--vc-nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    cursor: pointer;
    margin: 0 10px;
    top: 50%;
    transform: translateY(-50%);
}
@media print {
    .carousel__prev,.carousel__next,.carousel__pagination {
        display: none;
    }
}
