.carousel, .carousel__viewport, .carousel__track {
    height: 100%;
}
.carousel__prev {
    left: 50px;
}
.carousel__next {
    right: 50px;
}
@media print {
    .carousel__prev,.carousel__next,.carousel__pagination {
        display: none;
    }
}
