html, body, #app {
    height: 100%;
}
.video-slide, .default-slide {
    width: 80vw;
}
.default-slide {
    .row .col {
        img {
            max-width: 100%;
        }
    }
}
// titles
.js-stage-title {
    left: 0px;
    position: absolute;
    top: 45vh;
    width: 100%;   
}
.js-stage-title-center {
    cursor: pointer;
    &:hover, &:focus {
        color: var(--itb-bg-color-primary);
    }
}
.js-stage-title-top{
    transform: translateY(-40vh) scale(0.7);
    transition: all .7s ease-in-out;
}

.corner-logo {
    height: 50px;
    margin: 1rem;
}
.cover-logo {
    max-width: 300px;
    // position: absolute;
    // left: calc( 50vw - 150px );
    // top: 5vmin;
}
.video-bg{
    position: absolute;
    left:0%;
    top:0px;
    right:0%;
    bottom: 0px;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.overlay {
    position: absolute;
    background-color: rgba(21, 3, 92, 0.5);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.overlay-50 {
    background-color: rgba(21, 3, 92, 0.5);
}
.cover-astro-body {
    height: 240px;
    position: absolute;
    left: 46px;
    bottom: 0px;
}
.cover-astro-head {
    height: 280px;
    position: absolute;
    left: 0px;
    bottom: 194px;
    transform-origin: center;
    animation: headoff 6s forwards ease-in-out;
}
.cover-astro-head-02 {
    height: 280px;
    position: absolute;
    left: 0px;
    bottom: 194px;
    transform-origin: center;
    transform: translateY( -850px );
    animation: headon 1s 6s forwards ease-in-out
}
.print-page {
    .cover-astro-head-02 {
        transform: none;
        animation: none;
    }
    .cover-astro-head {
        display: none;
        animation: none;
    }   
}
.cb-cover {
    padding: var( --itb-cover-content-padding );
    text-align: var( --itb-cover-text-align );
    width: var( --itb-cover-content-width );
    height: var( --itb-cover-content-height );
}
[ data-theme="itb-2023" ] {
    .cover-logo {
        max-width: 100px;
        margin: 20px 0px 40px;
    }
    .corner-logo {
        height: 100px;
    }
    .cb-cover {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .slide-footer {
            color: var( --itb-text-primary );

            span {
                font-size: 1rem;
            }

            ul {
                padding-left: 0;
                list-style: none;
                li:not(:last-child) {
                    margin-right: 0.5rem;
                }

                li {
                    color: #fff;
                    display: inline-block;
                }
            }
            img {
                width: 25vw;
                margin: 15px 0px;
            }
            svg {
                width: 50vw;
            }
        }
    }
    .cover-astro-head-02, .cover-astro-head {
        right: 136px;
        left: auto;
    }
    .cover-astro-body {
        right: 46px;
        left: auto;
    }
}
.cb-traditional-vs-headless {
    h2 {
        font-size: 1.8rem;
        white-space: nowrap;
    }
    .sequence {
        align-items: center;
        background-color: #e2e2e2;
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        height: 90%;
        margin: 1rem;
        padding: .8rem 1rem;
    }
    img {
        max-width: 200px;
        width: 25vmin;

    }
    img:first-child {
        max-width: 100px;
        width: 10vmin;
    }
}
.cb-the-head {
    img {
        position: absolute;
        left: 0;
        width: 50vw;
        bottom: -6px;
    }
}
.cb-body {
    img {
        position: absolute;
        left: 2rem;
        width: 35vw;
        bottom: 0px;
    }
}
.cb-content-store, .cb-headless-cms {
    img {
        border-radius: 1rem;
    }
    .col {
        display: flex;
        align-items: center;
    }
}
.cb-sponsors {
    img {
        max-height: 200px;
    }
}
.cb-forms-of-communication{
	img {
		max-width: 100%;
	}
}

.trans-opacity {
    opacity: 1;
    transition: opacity .5s;
}
.trans-opacity.invisible {
    opacity: 0;
}
@media print {
    .default-slide, .video-slide {
        width: 80%;

        .slide-content {
            width: 100%;
        }
    }
    .cover-astro-body {
        height: 190px;
    }
    .cover-astro-head-02 {
        height: 190px;
        left: 27px;
        bottom: 154px;
    }
}
